<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataLayer.Properties.Settings.QLNS_WINFORMConnectionString"
            connectionString="Data Source=DESKTOP-7Q7IC0M\THANG2004;Initial Catalog=QLNS_WINFORM1;Persist Security Info=True;User ID=sa;Password=123456;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>